**/bin/
**/obj/
.idea/
.vscode/
*.user
*.log
*.dmp
.artifacts/
.build/
.deps/
.tools/
.xwin-cache/
.s*/
.c*/
website/node_modules/
website/build/
website/.docusaurus/
website/reference/*
!website/reference/.gitkeep
