:root {
  --ifm-color-primary: #6e4a9e;
  --ifm-color-primary-dark: #63428e;
  --ifm-color-primary-darker: #5d3e86;
  --ifm-color-primary-darkest: #4d346f;
  --ifm-color-primary-light: #7d55ac;
  --ifm-color-primary-lighter: #8359b2;
  --ifm-color-primary-lightest: #9670c0;
}
